form {
    border: 2px solid gainsboro;
    border-radius: 20px;
    background-color: rgb(235, 244, 244);
}
ul {
    list-style: none;
}
li {
    padding: 3px;
}
h2 {
    text-align: center;
}
label {
    display: inline-block;
    width: 150px;
}
.sub {
    text-align: center;
}
textarea {
    vertical-align: top;
}